<div *ngIf="movie" class="col-md-12">
  <div>
    <span style="float: left; margin-right: 15px;">
      <img src="{{movie.Poster}}" width="170" height="250">
    </span>
    <h4 style="margin-bottom: 0.4em;"> Movie Name : {{movie.Title}}</h4>
    <div>
      <p>
        <b>Year :</b> {{movie.Year}}
      </p>
      <p>
        <b>Realease Date:</b> {{movie.Released}}
      </p>
      <p>
        <b>Actors:</b> {{movie.Actors}}
      </p>
      <p>
        <b> Countory:</b> {{movie.Country}}
      </p>
      <p>
        <b>Director:</b> {{movie.Director}}
      </p>
      <p>
        <b>Language:</b> {{movie.Language}}
      </p>
      <p>
        <b>Genre:</b> {{movie.Genre}}
      </p>
      <p>
        <b>Runtime:</b> {{movie.Runtime}}
      </p>
    </div>
  </div>
</div>